.App {
  display: flow-root;
  color: White;
  justify-content: center;
  background: url(./background.svg);
  background-repeat: repeat-x;
  background-color: #171C29;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 100px;
  min-height: 100vh;
}
